    body{
        font-family:'Figtree', sans-serif;
    }
        
    .flight-types {
      display: flex;
      max-width: 100%;
      width: 100%;
      position: relative;
      user-select: none;
      -webkit-tap-highlight-color: rgb(0, 119, 255);
      position: relative;
      z-index: 1;
      margin: 0 0;
      font-size: 12px;
      border: 1px solid rgb(0, 119, 255);
      border-radius: 3px;
      color: rgb(0, 119, 255);
    }
    .flight-types > input {
      display: none;
    }
    .flight-types > input:checked + label {
      color: #ffffff;
    }
    .flight-types > input:nth-of-type(1):checked ~ label:last-of-type:before {
      transform: translateX(calc(0% + 0px));
    }
    .flight-types > input:nth-of-type(2):checked ~ label:last-of-type:before {
      transform: translateX(calc(100% + 0px));
    }
    .flight-types > input:nth-of-type(3):checked ~ label:last-of-type:before {
      transform: translateX(calc(200% + 0px));
    }
    .flight-types label {
      flex: 1;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .flight-types label:last-of-type:before {
      content: "";
      display: block;
      max-width: calc(33.3333333333% - 0px);
      margin: 0px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transform: translateX(0);
    }
    .flight-types label {
      padding: 6px 3px;
      transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
    }
    .flight-types label:before {
      background: rgb(0, 119, 255);
      transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
    }
    .flight-types label:not(:last-child) {
      border-right: 1px solid rgb(0, 119, 255);
    }
    
* {
  box-sizing: border-box;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  flex: 25%;
  padding: 20px;
  border: 5px solid rgb(255, 255, 255);
  background-color: black;
}

.column img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  /* object-fit: scale-down; */
  object-fit: cover;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }}

    a:link, a:visited {
      background-color: #f44336;
      color: white;
      width: 100%;
      height: 100%;
      padding: 20% 20% 20% 20%;
      text-align: center;
      text-decoration: none;
      display: block;
    }
    
    a:hover, a:active {
      background-color: red;
    }