    body{
        font-family:'Figtree', sans-serif;
    }
        
    .flight-types {
      display: flex;
      max-width: 100%;
      width: 100%;
      position: relative;
      user-select: none;
      -webkit-tap-highlight-color: rgb(0, 33, 71);
      position: relative;
      z-index: 1;
      margin: 0 0;
      font-size: 12px;
      border: 1px solid rgb(0, 33, 71);
      border-radius: 3px;
      color: rgb(0, 33, 71);
    }
    .flight-types > input {
      display: none;
    }
    .flight-types > input:checked + label {
      color: #ffffff;
    }
    .flight-types > input:nth-of-type(1):checked ~ label:last-of-type:before {
      transform: translateX(calc(0% + 0px));
    }
    .flight-types > input:nth-of-type(2):checked ~ label:last-of-type:before {
      transform: translateX(calc(100% + 0px));
    }
    .flight-types > input:nth-of-type(3):checked ~ label:last-of-type:before {
      transform: translateX(calc(200% + 0px));
    }
    .flight-types label {
      flex: 1;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .flight-types label:last-of-type:before {
      content: "";
      display: block;
      max-width: calc(33.3333333333% - 0px);
      margin: 0px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transform: translateX(0);
    }
    .flight-types label {
      padding: 6px 3px;
      transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
    }
    .flight-types label:before {
      background: rgb(0, 33, 71);
      transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
    }
    .flight-types label:not(:last-child) {
      border-right: 1px solid rgb(0, 33, 71);
    }
    
    * {
      box-sizing: border-box;
    }
    
    .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      padding: 0 4px;
    }
    
    /* Create four equal columns that sits next to each other */
    .column {
      -ms-flex: 25%; /* IE10 */
      flex: 25%;
      max-width: 25%;
      padding: 4px 4px;
      border: 5px solid rgb(255, 255, 255);
      background-color: black;
    }
    
    .column img {
      vertical-align: middle;
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
    
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }
    
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
    }
    
    a:link, a:visited {
      background-color: #f44336;
      color: white;
      width: 100%;
      height: 100%;
      padding: 20% 20% 20% 20%;
      text-align: center;
      text-decoration: none;
      display: block;
    }
    
    a:hover, a:active {
      background-color: red;
    }